# Created by https://www.toptal.com/developers/gitignore/api/remix
# Edit at https://www.toptal.com/developers/gitignore?templates=remix

### Remix ###
node_modules
/.cache
/build
/public/build
.env
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/remix

# Created by https://www.toptal.com/developers/gitignore/api/remix+cloudflarepages
# Edit at https://www.toptal.com/developers/gitignore?templates=remix+cloudflarepages

### Remix+CloudflarePages ###
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map

# End of https://www.toptal.com/developers/gitignore/api/remix+cloudflarepages
